/* Modal container */
.modal {
  display: block;
  position: fixed;
  z-index: 100;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  overflow: hidden;
}

/* Modal content */
.modalContent {
  background-color: white;
  margin: 15% auto;
  border-radius: 15px;
  padding: 0;
  /* border: 1px solid #888; */
  width: 80%;
}
.header {
  border-radius: 15px 15px 0 0;
  background-color: #f44153;
  color: white;
  padding: 6px 10px;
  margin-top: 14px;
}
.header p {
  margin: 0;
  padding: 2px 12px;
}
/* .modalContent div {
  padding: 0px 2px;
} */
.details {
  margin: 6px 0px;
  width: 100%;
}

/* Close button */
.closeParent {
  z-index: 1000;
  position: relative;
}
.close {
  padding: 3px 6px;
  position: absolute;
  left: 0;
  color: #ffffff;
  float: left;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.explainSans {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  padding: 4px;
}
.explainSans p {
  padding: 2px 12px;
}
.dividerLine {
  border: 1px solid rgba(0, 0, 0, 0.205);
  padding: 0px !important;
  height: 1px;
  margin: 6px 24px;
}
.accept {
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.425);
  border-radius: 10px;
  padding: 8px 16px;
  margin: 12px;
}
.accept:hover {
  background-color: rgba(80, 80, 80, 0.1);
}
