.body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 24px auto;
  width: 780px;
}

.title {
  margin: 24px 0px 48px 0px;
  font-size: 24px !important;
}

.noContentIcon {
  width: 200px;
  margin: 0 auto;
}
.noCotentTitle {
  color: darkred;
}

@media screen and (max-width:1200px){
  .body{
    width: 680px;
  }
}

@media screen and (max-width:1000px){
  .body{
    width: auto;
  }
}
