.body {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  padding: 12px 0;
  margin: 12px 24px;
  cursor: pointer;
  border-bottom: 1px solid gray;
}

.body:hover {
  background-color: rgb(142, 141, 141, 0.3);
  border-radius: 3px;
}
.status {
  /* width: 12px; */
  padding: 0px 2px;
  margin: 0px 2px;
  height: 32px;
  border-radius: 6px;
}
.yellow {
  background-color: rgb(208, 208, 0);
}

.green {
  background-color: rgb(0, 130, 0);
}

.red {
  background-color: rgb(223, 51, 51);
}
.gray {
  background-color: rgb(208, 208, 0);
}
.item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25%;
}
.ticketName {
  width: 50%;
}
.title {
  font-size: 14px;
}
.data {
  font-size: 16px;
  padding-right: 3px;
}
@media screen and (max-width: 760px) {
  .body {
    width: 100%;
    flex-direction: column;
    padding: 0 6px;
    margin: 0 12px;
  }
  .item {
    width: 100%;
    justify-content: start;
    padding: 6px;
  }
  .status {
    justify-content: center;
    padding: 2px;
    margin: 2px 2px 8px 2px;
  }
  .ticketName {
    width: 100%;
  }
  .title {
    font-size: 10px;
  }
  .data {
    font-size: 13px;
  }
}
