.body {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(51, 170, 255);
  color: white;
  border-radius: 6px 12px 0 0;
  padding: 6px 0;
  margin: 12px;
}
.item {
  width: 20%;
}
@media screen and (max-width: 800px) {
  .body {
    display: none;
  }
}
