.body {
  width: 100%;
  height: 690px;
  margin: 0 auto;
}
.image {
  display: block;
  position: absolute;
  inset: 0;
  margin: 0 auto;
  width: 100%;
  height: 820px;
  /* background: ; */
  /* Ensure the background covers the entire container */
  background-size: cover;
  /* j */
  image-rendering: pixelated;
  object-fit: cover;
  /* Center the background image */
  background-position: center;
}
@media (max-width: 680px) {
  .body {
    height: 100px;
    margin: 0;
    padding: 0;
    background-color: #ee395b;
  }
  .image {
    display: none;
  }
}
