.body{
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: start;
}

.title {
  font-size: 14px !important;
  font-weight: 600;
  text-align: right;
}

.image > * {
  width: 200px;
  height: 100px;
}
