.body {
  display: flex;
  justify-content: space-around;
  align-items: start;
  width: 100%;
}
.listContainer {
  width: 50%;
}
.title {
  font-size: 14px !important;
  font-weight: 600;
  text-align: right;
}
.list {
  padding: 4px 0px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  text-align: right;
}
.list > * {
  width: 100%;
  text-decoration: none;
  color: black;
}

@media (max-width: 680px) {
  .body {
    flex-direction: column;
    justify-content: center;
  }
  .listContainer {
    width: 100%;
  }
}
