.noContentBody {
  background-color: white;
  border-radius: 12px;
  /* width: 68rem; */
  width: 100%;
  margin: 0 auto;
  color: var(--darkRed-color) !important;
}
.noContentIcon {
  width: 200px;
  margin: 0 auto;
}

@media (max-width: 680px) {
  .body {
    background-color: var(--white-color);
    margin-bottom: 12px;
    border-radius: 12px;
  }
  .noContentBody {
    width: 100%;
    background-color: var(--white-color);
    margin-bottom: 12px;
    border: 1px solid var(--grayBorder-color);
  }
  .noContentIcon {
    width: 50%;
  }
}
