.banner2 {
     display: flex;
     justify-content: space-between;
     flex-wrap: wrap;
   }

   .banner2 .item {
     width: calc(33.33% - 10px);
     margin-bottom: 20px;
   }

   .banner2 .item img {
     width: 100%;
   }

   @media screen and (max-width: 600px) {
     .banner2 .item {
       width: 100%;
     }
   }