.body {
  width: 100%;
  padding-left: 10px;
  margin: 0;
}
hr {
  margin: 0 6% !important;
  color: var(--red-opacity-color);
}
.links {
  background-color: var(--white-color);
  border-radius: var(--border-radius);
  list-style-type: none;
  padding: 0px;
  margin: 0;
  font-size: 14px;
}

.links li {
  cursor: pointer;
  display: flex;
  justify-content: start;
  align-items: center;
  text-decoration: none;
  margin: 0;
  padding: 15px 20px;
  position: relative;
  color: #333333;
  font-size: 14px;
}

.links li :first-child {
  font-size: 24px;
  width: 32px;
  margin-left: 12px !important;
}
.links li p {
  padding-right: 12px !important;
  font-weight: 600;
  font-size: 14px;
}

.active {
  color: #f44153 !important;
  background-color: #f4415314;
}
.links li:first-child {
  border-radius: 12px 12px 0 0;
}
.links li:last-child {
  border-radius: 0 0 12px 12px;
}

@media screen and (max-width: 1200px) {
  .links li :first-child {
    font-size: 24px;
    width: 24px;
    margin-left: 2px !important;
  }
  .links li p {
    padding-right: 6px !important;
    font-weight: 300;
    font-size: 12px;
  }
}
@media screen and (max-width: 680px) {
  .body {
    margin-bottom: 12px;
    padding: 0px;
  }
  .links {
    border: 1px solid var(--grayBorder-color);
  }
  .links li :first-child {
    font-size: 24px;
    width: 24px;
    margin-left: 2px !important;
  }
  .links li p {
    padding-right: 6px !important;
    font-weight: 300;
    font-size: 12px;
  }
}
