font-face {
    font-family: 'kishbarg';
    src:  
      url('../fonts/kishbarg.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  
   
   [class^="kishIcon-"]:before, [class*=" kishIcon-"]:before {
       
    font-family: "kishbarg";
    font-style: normal;
    font-weight: normal;
    speak: none;
  
    display: inline-block;
    text-decoration: inherit;
   
    margin-right: .2em;
    text-align: center;
  
    font-variant: normal;
    text-transform: none;
   
  
    line-height: 1em;
   
  
    margin-left: .2em;
   
  
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
   
  }
   
  
  .kishIcon-all-discounts:before {
    content: "\e100";
  }
  .kishIcon-gasht-jazire:before {
    content: "\e101";
  }
  .kishIcon-ghavasi:before {
    content: "\e102";
  }
  .kishIcon-jong-concert:before {
    content: "\e103";
  }
  .kishIcon-kashti-tafrihi:before {
    content: "\e104";
  }
  .kishIcon-kharidhaye-man:before {
    content: "\e105";
  }
  .kishIcon-massage:before {
    content: "\e106";
  }
  .kishIcon-park:before {
    content: "\e107";
  }
  .kishIcon-park-dolphin:before {
    content: "\e108";
  }
  .kishIcon-racing-car:before {
    content: "\e109";
  }
  .kishIcon-resturant:before {
    content: "\e10a";
  }
  .kishIcon-safari:before {
    content: "\e10b";
  }
  .kishIcon-tafrihat-abi:before {
    content: "\e10c";
  }
  .kishIcon-withdraw-2:before {
    content: "\e10d";
  }
  .kishIcon-account-balance:before {
    content: "\e10e";
  }
  .kishIcon-withdraw:before {
    content: "\e10f";
  }
  .kishIcon-016-mortarboard:before {
    content: "\e110";
  }
  .kishIcon-005-matches:before {
    content: "\e111";
  }
  .kishIcon-007-singing:before {
    content: "\e112";
  }
  .kishIcon-008-phone:before {
    content: "\e113";
  }
  .kishIcon-009-rating:before {
    content: "\e114";
  }
  .kishIcon-015-fashion:before {
    content: "\e115";
  }
  .kishIcon-volume_off:before {
    content: "\e116";
  }
  .kishIcon-volume_up:before {
    content: "\e117";
  }
  .kishIcon-new-comment:before {
    content: "\e118";
  }
  .kishIcon-extra-media:before {
    content: "\e119";
  }
  .kishIcon-shipping:before {
    content: "\e11a";
  }
  .kishIcon-map:before {
    content: "\e11b";
  }
  .kishIcon-location:before {
    content: "\e11c";
  }
  .kishIcon-arrow-down:before {
    content: "\e11d";
  }
  .kishIcon-arrow-left:before {
    content: "\e11e";
  }
  .kishIcon-arrow-right:before {
    content: "\e11f";
  }
  .kishIcon-arrow-up:before {
    content: "\e120";
  }
  .kishIcon-dots:before {
    content: "\e121";
  }
  .kishIcon-arrow-drop-down:before {
    content: "\e122";
  }
  .kishIcon-arrow-drop-up:before {
    content: "\e123";
  }
  .kishIcon-check:before {
    content: "\e124";
  }
  .kishIcon-phone:before {
    content: "\e125";
  }
  .kishIcon-email:before {
    content: "\e126";
  }
  .kishIcon-pinterest:before {
    content: "\e127";
  }
  .kishIcon-close:before {
    content: "\e128";
  }
  .kishIcon-thin-location:before {
    content: "\e129";
  }
  .kishIcon-lock:before {
    content: "\e12a";
  }
  .kishIcon-at:before {
    content: "\e12b";
  }
  .kishIcon-print:before {
    content: "\e12c";
  }
  .kishIcon-cut:before {
    content: "\e12d";
  }
  .kishIcon-watch:before {
    content: "\e12e";
  }
  .kishIcon-art:before {
    content: "\e12f";
  }
  .kishIcon-walk:before {
    content: "\e130";
  }
  .kishIcon-health:before {
    content: "\e131";
  }
  .kishIcon-restaurant:before {
    content: "\e132";
  }
  .kishIcon-menu:before {
    content: "\e133";
  }
  .kishIcon-favorite:before {
    content: "\e134";
  }
  .kishIcon-travel:before {
    content: "\e135";
  }
  .kishIcon-service:before {
    content: "\e136";
  }
  .kishIcon-gift:before {
    content: "\e137";
  }
  .kishIcon-info:before {
    content: "\e138";
  }
  .kishIcon-camera:before {
    content: "\e139";
  }
  .kishIcon-tel:before {
    content: "\e13a";
  }
  .kishIcon-calendar:before {
    content: "\e13b";
  }
  .kishIcon-plus:before {
    content: "\e13c";
  }
  .kishIcon-minus:before {
    content: "\e13d";
  }
  .kishIcon-book:before {
    content: "\e13e";
  }
  .kishIcon-arrow-back:before {
    content: "\e13f";
  }
  .kishIcon-arrow-forward:before {
    content: "\e140";
  }
  .kishIcon-star:before {
    content: "\e141";
  }
  .kishIcon-error:before {
    content: "\e142";
  }
  .kishIcon-warning:before {
    content: "\e143";
  }
  .kishIcon-clock:before {
    content: "\e144";
  }
  .kishIcon-download:before {
    content: "\e145";
  }
  .kishIcon-upload:before {
    content: "\e146";
  }
  .kishIcon-user:before {
    content: "\e147";
  }
  .kishIcon-discount:before {
    content: "\e148";
  }
  .kishIcon-addressbook:before {
    content: "\e149";
  }
  .kishIcon-card:before {
    content: "\e14a";
  }
  .kishIcon-business:before {
    content: "\e14b";
  }
  .kishIcon-forum:before {
    content: "\e14c";
  }
  .kishIcon-credit:before {
    content: "\e14d";
  }
  .kishIcon-event:before {
    content: "\e14e";
  }
  .kishIcon-flask:before {
    content: "\e14f";
  }
  .kishIcon-shopping:before {
    content: "\e150";
  }
  .kishIcon-t-shirt:before {
    content: "\e151";
  }
  .kishIcon-alarm:before {
    content: "\e152";
  }
  .kishIcon-help:before {
    content: "\e153";
  }
  .kishIcon-twitter:before {
    content: "\e154";
  }
  .kishIcon-facebook:before {
    content: "\e155";
  }
  .kishIcon-filter:before {
    content: "\e156";
  }
  .kishIcon-google-plus:before {
    content: "\e157";
  }
  .kishIcon-rocket:before {
    content: "\e158";
  }
  .kishIcon-apple:before {
    content: "\e159";
  }
  .kishIcon-android:before {
    content: "\e15a";
  }
  .kishIcon-stopwatch:before {
    content: "\e15b";
  }
  .kishIcon-clock-2:before {
    content: "\e15c";
  }
  .kishIcon-gauge:before {
    content: "\e15d";
  }
  .kishIcon-tag:before {
    content: "\e15e";
  }
  .kishIcon-calendar-2:before {
    content: "\e15f";
  }
  .kishIcon-gift-2:before {
    content: "\e160";
  }
  .kishIcon-basket-2:before {
    content: "\e161";
  }
  .kishIcon-leaf:before {
    content: "\e162";
  }
  .kishIcon-calendar-inv:before {
    content: "\e163";
  }
  .kishIcon-compass:before {
    content: "\e164";
  }
  .kishIcon-heart:before {
    content: "\e165";
  }
  .kishIcon-android-2:before {
    content: "\e166";
  }
  .kishIcon-lkdto:before {
    content: "\e167";
  }
  .kishIcon-leaf-2:before {
    content: "\e168";
  }
  .kishIcon-off:before {
    content: "\e169";
  }
  .kishIcon-diamond:before {
    content: "\e16a";
  }
  .kishIcon-logout-2:before {
    content: "\e16b";
  }
  .kishIcon-location-3:before {
    content: "\e16c";
  }
  .kishIcon-school:before {
    content: "\e16d";
  }
  .kishIcon-laptop:before {
    content: "\e16e";
  }
  .kishIcon-suitcase:before {
    content: "\e16f";
  }
  .kishIcon-gamepad:before {
    content: "\e170";
  }
  .kishIcon-person-add:before {
    content: "\e171";
  }
  .kishIcon-login:before {
    content: "\e172";
  }
  .kishIcon-girl:before {
    content: "\e173";
  }
  .kishIcon-local-florist:before {
    content: "\e174";
  }
  .kishIcon-percent:before {
    content: "\e175";
  }
  .kishIcon-yahoo:before {
    content: "\e176";
  }
  .kishIcon-edit:before {
    content: "\e177";
  }
  .kishIcon-c-travel:before {
    content: "\e178";
  }
  .kishIcon-c-theatre:before {
    content: "\e179";
  }
  .kishIcon-c-tavan3:before {
    content: "\e17a";
  }
  .kishIcon-c-sport:before {
    content: "\e17b";
  }
  .kishIcon-c-product:before {
    content: "\e17c";
  }
  .kishIcon-c-now:before {
    content: "\e17d";
  }
  .kishIcon-c-medical:before {
    content: "\e17e";
  }
  .kishIcon-c-beauty:before {
    content: "\e17f";
  }
  .kishIcon-c-food:before {
    content: "\e180";
  }
  .kishIcon-cart:before {
    content: "\e181";
  }
  .kishIcon-target:before {
    content: "\e182";
  }
  .kishIcon-close-light:before {
    content: "\e183";
  }
  .kishIcon-instagram:before {
    content: "\e184";
  }
  .kishIcon-telegram:before {
    content: "\e185";
  }
  .kishIcon-c-learn:before {
    content: "\e186";
  }
  .kishIcon-globe:before {
    content: "\e187";
  }
  .kishIcon-timelapse:before {
    content: "\e188";
  }
  .kishIcon-more-vert:before {
    content: "\e189";
  }
  .kishIcon-share:before {
    content: "\e18a";
  }
  .kishIcon-account-circle:before {
    content: "\e18b";
  }
  .kishIcon-assignment-turned-in:before {
    content: "\e18c";
  }
  .kishIcon-search:before {
    content: "\e18d";
  }
  .kishIcon-logout:before {
    content: "\e18e";
  }
  .kishIcon-account-balance-wallet:before {
    content: "\e18f";
  }
  .kishIcon-location-2:before {
    content: "\e190";
  }
  .kishIcon-grid:before {
    content: "\e191";
  }
  .kishIcon-plane:before {
    content: "\e192";
  }
  .kishIcon-home:before {
    content: "\e193";
  }
  .kishIcon-basket:before {
    content: "\e194";
  }
  .kishIcon-eghamatgah:before {
    content: "\e195";
  }
  .kishIcon-boomgardi:before {
    content: "\e196";
  }
  .kishIcon-hotel-aparteman:before {
    content: "\e197";
  }
  .kishIcon-hotels:before {
    content: "\e198";
  }
  .kishIcon-tour:before {
    content: "\e199";
  }
  .kishIcon-villa:before {
    content: "\e19a";
  }
  .kishIcon-Online_Shop:before {
    content: "\e19b";
  }
  .kishIcon-sale:before {
    content: "\e19c";
  }
  .kishIcon-Select_Product:before {
    content: "\e19d";
  }
  .kishIcon-Coupon:before {
    content: "\e19e";
  }
  .kishIcon-takhfifan:before {
    content: "\e19f";
  }
  .kishIcon-user2:before {
    content: "\e1a0";
  }
  .kishIcon-company:before {
    content: "\e1a1";
  }
  .kishIcon-copouns:before {
    content: "\e1a2";
  }
  .kishIcon-console:before {
    content: "\e1a3";
  }
  .kishIcon-online-shop:before {
    content: "\e1a4";
  }
  .kishIcon-share-2:before {
    content: "\e1a5";
  }
  .kishIcon-shirt:before {
    content: "\e1a6";
  }
  .kishIcon-shopping-bag:before {
    content: "\e1a7";
  }
  .kishIcon-smartphone:before {
    content: "\e1a8";
  }
  .kishIcon-taxi:before {
    content: "\e1a9";
  }
  .kishIcon-thumbs-down:before {
    content: "\e1aa";
  }
  .kishIcon-thumbs-up:before {
    content: "\e1ab";
  }
  .kishIcon-user-2:before {
    content: "\e1ac";
  }
  .kishIcon-tumblr-squared:before {
    content: "\e1ad";
  }
  .kishIcon-tty:before {
    content: "\e1ae";
  }
  .kishIcon-shopping-basket:before {
    content: "\e1af";
  }
  .kishIcon-percent-2:before {
    content: "\e1b0";
  }
  .kishIcon-volume-control-phone:before {
    content: "\e1b1";
  }
  .kishIcon-food:before {
    content: "\e1b2";
  }