.headerBody {
  z-index: 10;
  width: 100%;
  margin: 0 auto;
  background-color: white;
  /* padding-bottom: 84px; */
  height: 60px;
  padding: 5px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}
.Headerontainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1400px;
  margin: 0 auto;
}
.rightHeader {
  display: flex;
  justify-content: right;
  align-items: center;
  margin-right: 12px;
}
.leftHeader {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 12px;
}
.webIcons {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 680px) {
  .headerBody {
    background-color: #ee395b;
  }
  .Headerontainer {
    /* justify-content: center; */
    width: 100%;
  }
  .rightHeader {
    /* display: none; */
    justify-content: center;
    margin-right: 1px;
  }
  .leftHeader {
    justify-content: left;
    margin-left: 1px;
  }
  .webIcons {
    display: none;
  }
}

/* bottomStickContainer */
.bottomStickContainer {
  display: none;
  width: 100%;
  height: 70px;
  background-color: white;
  z-index: 10;
}
@media (max-width: 680px) {
  .bottomStickContainer {
    box-shadow: 10px 25px 30px 5px #651826;
    border-top: 1px SOLID #e9c5cb;
    display: block;
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
  }
  .bottomList {
    padding: 0 !important;
    margin: 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 20px;
    /* grid-row-gap: 20px; */
    justify-items: stretch;
    align-items: stretch;
  }
  .bottomListItem {
    color: black;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 3px;
    margin: 1px;
  }
  .bottomListIconDesc {
    color: #581522;
  }
  .bottomListIcon {
    font-size: 32px;
    padding: 0;
    color: #ee395b;
  }
}
