.body {
  position: relative;
  display: flex;
  justify-content: start;
  align-items: center;
  width: 100%;
  min-height: 200px;
}

.date {
  position: relative;
  display: flex;
  justify-content: start;
  align-items: center;
  width: 25%;
}
.dateDesc {
  position: absolute;
  top: 100%;
  left: 50%; /* start-50 translates to left: 50% */
  /* transform: translate(-50%, -50%); translate-middle */
  color: red; /* text-red (assuming you want the text color to be red) */
  font-size: 10px;
}
.serviceBody {
  position: relative;
  display: flex;
  justify-content: start;
  align-items: center;
  width: 25%;
}

.serviceButton {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: 1px solid #6c757d; /* border-secondary color */
  border-radius: 0.25rem; /* rounded */
  width: 100%;
  /* min-width: 150px; */
  height: 36px;
  padding: 0;
  font-size: 12px;
}
.serviceButton:hover {
  background-color: #6c757d80;
}
.disable {
  background-color: #cbcbcb;
  border: 0;
  color: #2125298b;
}
.disable:hover {
  background-color: #cbcbcb;
  cursor: text;
}
.dropdownMenu {
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  z-index: 1000;
  float: right;
  min-width: 10rem;
  padding: 0.5rem 0;
  margin: 0.125rem 0 0;
  font-size: 1rem;
  color: #212529;
  text-align: left;
  list-style: none;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
}
.dropdownMenuShow {
  display: block;
}

.sansList {
  border: 0;
  display: flex;
  cursor: pointer;
  text-align: end; /* text-end */
  padding: 4px 6px; /* px-2 py-1 */
  white-space: nowrap; /* text-nowrap */
}
.sansList:hover {
  background-color: #6c757d8d;
}

.ticket {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25%;
}
.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20%;
}
@media (max-width: 992px) {
  .body {
    display: block; /* Change to block when the screen is smaller */
    height: 100%;
  }
  .serviceBody {
    justify-content: center;
    width: 100%;
    margin: 12px 0px;
  }
  .serviceButton {
    width: 50%;
  }
  .dropdownMenu {
    right: 50%;
  }
  .date {
    width: 100%;
  }
  .ticket {
    width: 100%;
  }
  .loading {
    width: 100%;
  }
}
