.App {
  text-align: center;
  direction: rtl;
  background-color: #e8e8e8;
}
.App-body {
  max-width: 1400px;
  margin: 0 auto;
  margin-top: 50px;
}
.offcanvas-menu {
  z-index: 11;

  position: fixed;
  right: -400px; /* Initially off-screen to the right */
  transition: right 0.5s linear; /* Adjust the duration and timing function as needed */
}

.offcanvas-menu.visible {
  right: 0; /* Display offcanvas-menu when active */
}
.offcanvas-menu-bg {
  position: fixed;
  z-index: 0;
  background-color: #0000003f !important;
  margin-top: -50px;
  opacity: 0; /* Initially invisible */
  transition: opacity 0.5s linear;
}
.offcanvas-menu-bg.visible {
  opacity: 1;
  z-index: 10;
  height: 100%;
  width: 100%;
}

:root {
  --red-color: #ee395b;
  --red-opacity-color: #ee395a5f;
  --red-opacity-hover-color: #ee395a10;
  --darkRed-color: #a52940;
  --white-color: #ffffff;
  --black-color: #000000;
  --gray-color: #c7c7c7;
  --border-radius: 12px;
  --grayBorder-color: rgb(205, 205, 205);
}
