.App {
  text-align: center;
  direction: rtl;
  background-color: #e8e8e8;
}
.App-body {
  max-width: 1400px;
  margin: 0 auto;
  margin-top: 50px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.offcanvas-menu {
  z-index: 11;

  position: fixed;
  right: -400px; /* Initially off-screen to the right */
  transition: right 0.5s linear; /* Adjust the duration and timing function as needed */
}

.offcanvas-menu.visible {
  right: 0; /* Display offcanvas-menu when active */
}
.offcanvas-menu-bg {
  position: fixed;
  z-index: 0;
  background-color: #0000003f !important;
  margin-top: -50px;
  opacity: 0; /* Initially invisible */
  transition: opacity 0.5s linear; 
}
.offcanvas-menu-bg.visible{
  opacity: 1;
  z-index: 10; 
  height: 100%;
  width: 100%;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
