.body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  background: #eef3fa;
  max-width: 480px;
  padding: 24px 4px;
  margin: 24px auto;
  border: 3px solid #eef3fa;
  border-radius: 6px;
  color: rgb(41, 41, 41);
  box-shadow: 5px 10px 16px 2px rgba(0, 0, 0, 0.2);
}
.bodyTop {
  margin: 12px 0;
  padding: 4px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  border-bottom: 1px solid rgba(165, 172, 255, 0.3);
}
.bodyMiddle {
  margin: 12px 0;
  padding: 4px;
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.title {
  font-size: 12px;
  margin: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.desc {
  margin: 6px;
  font-size: 16px;
  color: #313131;
  display: flex;
  justify-content: center;
  align-items: center;
}
.detail {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

